!!! 5
%html
  %head
    %script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js')

    %script(src='caterwaul.js')
    %script(src='caterwaul.continuation.js')
    %script(src='caterwaul.seq.js')
    %script(src='caterwaul.iter.js')
    %script(src='caterwaul.error.js')
    %script(src='montenegro.jquery.js')

    %link(rel='stylesheet' href='style.css')

  %body
    Hello there!
