body {font-size: 9pt; font-family: sans-serif}

/*
#toolbar {position: fixed; top: 10px; left: 10px}
#stories {width: 900px; margin: auto}

.right-column {float: right; width: 400px}

a       {color: #35a; text-decoration: none}
a:hover {text-decoration: underline}

.story   {border: solid 1px #a00; width: 294px}
.comment {border: solid 1px #888}

.editable {cursor: pointer}*/
